<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product detail</title>
  </head>
  <body>
    <a href="{% url 'products:index' %}">⬅ Volver</a>
    {% if product %}
    <form action="{% url 'products:add_stock' product.id  %}" method="post">
      {% csrf_token %}
      <!-- Se agrega para evitar ataques -->
      <legend><h1>{{ product.name}}</h1></legend>
      <p>{{ product.description }}</p>
      <p>
        Categoría:
        <a href="{% url 'products:category_detail' product.category.id %}"
          >{{ product.category }}</a
        >
      </p>
      {% if error_message %}
      <p><strong>{{ error_message }}</strong></p>
      {% endif %}
      <button name="stock" value="remove">-</button>
      {{ product.stock }}
      <button name="stock" value="add">+</button>
    </form>
    {% else %}
    <p>Todavía no hay productos</p>
    {% endif %}
  </body>
</html>
